<h1>Раді вас бачити!</h1>


<% if current_account.employee.department.role == "Unassigned" %>
  <p><i> Будь ласка, очікуйте призначення вашої ролі.</i></p>
<% else %>
  Для доступу до різноманітних функцій сайту використовуйте меню згори.
<% end %>
